div#members {
    width: 100%;
}

table.admin-table, table.admin-table thead, table.admin-table tr {
    width: 100%;
}

table.admin-table th {
    text-align: left;
    padding: 0;
    border-spacing: 0;
}

table.admin-table tbody tr {
    padding: 1rem;
}

table.admin-table tbody tr td {
    margin: 0;
    padding: 0;
    border: 0;
}

table.admin-table tbody tr:hover {
    background-color: #b9b9b9;
}
